/* Hide scrollbar for Chrome, Safari and Opera */
.hide-scroll::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.hide-scroll {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

/* transform: skew(20deg); */
/* transform: skewX(20deg); */
/* transform: skew(20deg, -10deg); */
/* transform: matrix(1, -0.3, 0, 1, 0, 0); */
/* transform: skew(20deg); */
/* transform: skew(20deg); */

.result-card-skew1 {
  height: 30px;
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: blue;
}

.result-card-skew2 {
  height: 50px;
  position: absolute;
  bottom: 0;
  left: 20px;
  transform: skew(50deg);
  background-color: pink;
}
